{% extends 'base.html.twig' %}

{# templates/registration/register.html.twig #}

{% block stylesheets %}

    <style>
        .save {
            width: 100%;
        }
    </style>

{% endblock %}

{% block body %}

    <div class="container pt-5">
        <h1 class="text-center">Register employee</h1>

        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}