{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    <div class="container">
        <div class="content py-5">

            <h1 class="text-center"> Hospital system ! </h1>

            <div class="row justify-content-around my-5">
                <a class="col-5 btn btn-secondary" href="{{ path('user_login') }}">Login for users</a>
                <a class="col-5 btn btn-secondary" href="{{ path('employee_login') }}">Login for employees</a>
            </div>

        </div>

    </div>

{% endblock %}
