{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}


    <div class="container">

    <h1>Register new examination</h1>
        {{ form(form) }}
    </div>


{% endblock %}
